/*! CSS Used from: http://st.codeforces.com/s/86547/css/clear.css */
div,ul,li,pre,p{margin:0;padding:0;}
img{border:0;}
ul{list-style:none;}
pre{font-size:110%;}
/*! CSS Used from: http://st.codeforces.com/s/86547/css/ttypography.css */
div.ttypography pre{font-family:Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;}
div.ttypography{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;base:14px;line-height:21px;color:#222;-webkit-text-size-adjust:100%;font-size:1.4rem;word-wrap:break-word;margin:1.5em 0 0 0!important;}
div.ttypography ul{font-size:1em;line-height:1.5em;margin:0.5em 0 0 1em;}
div.ttypography ul{list-style-type:disc;}
div.ttypography li{font-size:1em;line-height:1.5em;margin-left:0.8em;}
div.ttypography p:not(:first-child){margin:1.5em 0 0 0;}
div.ttypography p{font-size:1em;line-height:1.4em;}
div.ttypography i{font-style:italic;}
div.ttypography pre{font-size:100%;}
div.ttypography pre{line-height:1.5em;margin:1.5em 0 0 0;white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
div.ttypography pre{color:#800;}
div.ttypography sub,div.ttypography sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
div.ttypography sup{top:-0.5em;}
div.ttypography sub{bottom:-0.25em;}
div.ttypography img{margin:0;}
/*! CSS Used from: http://st.codeforces.com/s/86547/css/problem-statement.css */
.problem-statement{margin:0.5em;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;line-height:1.5em;font-size:1.0rem;}
.problem-statement p{margin:0 0 1em 0!important;}
.problem-statement .header{margin-bottom:1em;text-align:center;}
.problem-statement .header .title{font-size:150%;margin-bottom:0.5em;}
.problem-statement .header .title{font-size:150%;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
.problem-statement ul{list-style:disc;list-style-type:disc;list-style-position:outside;margin-top:1em!important;margin-bottom:1em!important;}
.problem-statement li{line-height:1.5em;margin-left:3em;}
.problem-statement .property-title{display:inline;padding-right:4px;}
.problem-statement .property-title:after{content:":";}
.problem-statement .time-limit,.problem-statement .memory-limit,.problem-statement .input-file,.problem-statement .output-file{margin:0 auto;}
.problem-statement .section-title{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:115%;font-weight:bold;}
.problem-statement .output-specification{margin-bottom:1em;}
.problem-statement .sample-tests .input,.problem-statement .sample-tests .output{border:1px solid #888;}
.problem-statement .sample-tests .output{margin-bottom:1em;position:relative;top:-1px;}
.problem-statement .sample-tests pre{line-height:1.25em;padding:0.25em;margin:0;background-color:#efefef;}
.problem-statement .sample-tests{font-family:Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;font-size:0.9em;}
.problem-statement .sample-tests .title{font-size:1.3em;padding:0.25em;border-bottom:1px solid #888;text-transform:lowercase;font-weight:bold;}
.problemindexholder{position:relative;}
.tex-formula{font-family:times new roman,sans-serif;vertical-align:middle;margin:0;border:medium none;position:relative;bottom:2px;}
.tex-span{font-size:125%;font-family:times new roman,sans-serif;white-space:nowrap;}
.tex-font-style-it{font-style:italic;}
.tex-graphics{display:block;}